body {
	text-align : center;

}

.outline{
	display :inline-block;
	width : 460px;
	
	/* height: 1039px; */
}
.id {
	display: inline-block;
	
}
.idline{
	display: inline-block;
	width: 460px;
	height: 75px;
	margin: 20px;
}
.id_title{
	display : inline-block;
	margin: 19px 0px 8px;
	font-size : 14px;
	font-weight :700;
	width : 460px;
	height : 16px;
	
}
.id_box{
	display: inline-block;
	width :460px;
	height: 51px;
	border: 1px solid  #dadada;
	padding : 10px 10px 10px 14px;
	}
input{
	width :334px;
	height :29px;
	display : inline-block;
	line-height:29px;
	border:none;
	font-size :15px;
}
.idmail{
	width: 82px;
	height : 18px;
	display : inline-block;

}

#lock1{
	   display: block;
       margin: 0px;
       margin-top: 12px;
       height: 24px;
       width: 24px;
       background-image: url(https://static.nid.naver.com/images/ui/join/m_icon_pw_step.png);
       background-repeat: no-repeat;
       background-position: 0px 0px;
       background-size: 135px 80px;
       background-color: white;
}
#lock2{
	width:24px;
	height:24px;
}
.text-left {
	text-align: left;
}
.birthbox{
	display: inline-block;
	width: 153px;
	height: 51px;
	border: 1px solid  #dadada;
	padding : 10px 10px 10px 14px;
}
#month {
	display: inline-block;
	width: 147px;
	height:51px;
}

#bth{
	border: 1px solid  #dadada;
	width:147px;
	height:51px;
	display:inline-block;
	line-height:29px;
	font-size:15px;
	text-align:left;
}
#bthbox{
	display:inline-block;
	width: 147px;
	height:51px;
}
#gen{
	display:inline-block;
	width :460px;
	height: 51px;
	border: 1px solid  #dadada;
	padding : 10px 10px 10px 14px;
}